./dataprocessing/WindowDoorDatasets/
./propall_floorplans1_door_yoloformat/
./propall_floorplans1_window_yoloformat/
./runs/
__pycache__/
hgcvhg.py
models/yolov9-c.pt:Zone.Identifier
rescaled_door_propall1/train/labels.cache
rescaled_window_propall1/train/labels.cache